<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-sm-2'>
      <div class='form-group'>
        <%= form.label :title %>
        <%= form.select :title, options_for_select(["Mr", "Mrs"]), {}, {class:"custom-select"} %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='form-group'>
        <%= form.label :firstname %>
        <%= form.text_field :firstname, class:"form-control" %>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='form-group'>
        <%= form.label :lastname %>
        <%= form.text_field :lastname, class:"form-control" %>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='form-group'>
        <%= form.label :email %>
        <%= form.email_field :email, class:"form-control", placeholder:"example@gmail.com" %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <div class='form-group'>
        <%= form.label :gender %>
        <%= form.select :gender, options_for_select(["Male", "Female"]), {}, {class:"custom-select"} %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class='custom-file' style='margin-top: 32px;'>
          <%= form.file_field :avatar, class:"custom-file-input", id:"customFile" %>
          <%= form.label :choose_picture, class:"custom-file-label", id:"customFileLang" %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
    <%= link_to 'Back', employees_path, class:"btn btn-secondary" %>
  </div>
<% end %>
